# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.pdb
*.ilk
*.opendb
*.db
*.idb
/DIAGEXP/Debug/DIAGEXP.tlog
*.log
*.ipch
/.vs/DIAGEXP/v15
/DIAGEXP/x64/Debug/DIAGEXP.tlog
/DIAGEXP/obj/Debug
